.App{
  background-color: #a6bfec;
  text-align: center;
}

body{
  background-color: #a6bfec;
}

.App-header {
  color: black;
}

.card{
  background-color: #a6bfec;
}

.styled-cards{
    display: flex;
    flex-direction: column;
    width: 54%;
    margin-top: 4%;
    height: 75vh;
    margin-left: 21%;
    /* background-color: #fff; */
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5.25rem;
}

