.App{
  background-color: #a6bfec;
  text-align: center;
}

body{
  background-color: #a6bfec;
}

.App-header {
  color: black;
}


.UserList{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-top: 10%;
    height: 69vh;
    margin-left: 11%;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5.25rem;
}

img{
  width: 30%;
}